# RiscZero Boundless Config
BOUNDLESS_RPC_URL="
BOUNDLESS_PROGRAM_URL=""
BOUNDLESS_PRIVATE_KEY=""

SP1_PRIVATE_KEY=""

# Pico Config
PICO_PROVER_KEY="" # Brevis marketplace wallet private key
PICO_PROGRAM_URL="https://ipfs.io/ipfs/bafybeig4aqywrlidiqj2eb4naffshfjqz6o7cae4azt7ng5jj4kb6rqysu" # Hosted Pico verifier ELF URL (ipfs://... recommended)
PICO_RPC_URL="" # Base RPC URL
# MARKETPLACE_POLL_BLOCK_INTERVAL=10
